<#= Converter.GetImports() #>

namespace <#= Converter.GetNamespace() #>
{ 
    public class <#= Converter.GetClassName() #> : <#= Converter.GetExtends() #> <#= Converter.GetImplements() #> 
    { 
        <#= Converter.GetMessageProtocolId() #>
        <#= Converter.GetTextFields() #>
        <#= Converter.GetTextMethods() #>
    }
}
<#@ template language="C#" debug="true"  #>
<#@ output extension=".cs" #>
<#@ assembly name="System.dll" #>
<#@ parameter name="Converter" type="Giny.ProtocolBuilder.Converters.MessageConverter" #>


